.dashboard {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 16px;
}

mat-card {
    padding: 16px;
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, border 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        border: #666 2px solid;
    }
}

mat-card-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

mat-card-content {
    text-align: center;
    font-size: 1em;
    color: #666;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;

    a {
        text-decoration: none;
        color: inherit;
        display: block;
    }
}

.main-card {
    flex: 2;
    margin-left: 120px;
}

.secondary-card {
    flex: 1;
    margin-right: 120px;
    display: flex;
    flex-direction: column;
}

h3 {
    color: darkorange;
}

/* --- RESPONSIVE --- */

/* Tablettes et petits écrans ≤1024px */
@media screen and (max-width: 1024px) {
    .main-card,
    .secondary-card {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* Smartphones ≤600px */
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .main-card,
    .secondary-card {
        margin: 0;
    }

    mat-card-title {
        font-size: 1.2em;
    }

    mat-card-content {
        font-size: 0.9em;
    }

    .dashboard {
        grid-template-columns: 1fr; /* une seule colonne */
        gap: 12px;
        padding: 8px;
    }
}
