<mat-card id="profileMenu" class="dropdown-menu">
  <a [routerLink]="['/teik/user/current-user', userF]" class="dropdown-item">
    {{ 'PROFILE_MENU.PROFILE' | translate }}
  </a>
  <a routerLink="/teik/news" class="dropdown-item">
    {{ 'PROFILE_MENU.PREMIUM' | translate }}
  </a>
  <a routerLink="/teik/news" class="dropdown-item">
    {{ 'PROFILE_MENU.MANAGE' | translate }}
  </a>
  <a routerLink="/teik/auth/login" (click)="logout()" class="dropdown-item">
    {{ 'PROFILE_MENU.LOGOUT' | translate }}
  </a>
</mat-card>
