<!-- <div id="profileMenu" class="dropdown-menu">
    <a routerLink="/profile" class="dropdown-item">Profil</a>
    <a routerLink="/subscription" class="dropdown-item">Abonnement</a>
    <a routerLink="/premium" class="dropdown-item">Premium</a>
    <a (click)="logout()" class="dropdown-item">Déconnexion</a>
</div> -->

<mat-card id="profileMenu" class="dropdown-menu">
    <a [routerLink]="['/teik/user/current-user', userF]" class="dropdown-item">Profil</a>
    <a routerLink="/teik/news" class="dropdown-item">Premium</a>
    <a routerLink="/teik/news" class="dropdown-item">Gérer</a>
    <a routerLink="/teik/logout" (click)="logout()" class="dropdown-item">Déconnexion</a>
</mat-card>

