/* --- GLOBAL STYLES --- */

mat-toolbar {
    background-color: white;
    width: 100%;
}

.teik-logo {
    height: 120%;
    width: auto;
    object-fit: contain;
}

app-profile-drop-down {
    position: absolute;
    top: 110%;
    right: 15%;
    z-index: 999;
    font-size:x-small;
    font-weight: lighter;
}


.search {
    background-color: beige;
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 70%;
    padding-left: 30px;
    padding-right: 8px;

    &:hover {
        text-decoration: none;
    }
}

.icon-text {
    text-decoration: none;
    transition: text-decoration 0.3s;
    font-size: x-small;
    font-weight: lighter;
}

.icon-text:hover {
    text-decoration: underline;
    margin-bottom: 4px;
}

img {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    object-fit: cover;
}

.dropdown-link:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
}

#iconMediaQuerieMarge {
    margin-left: 80px;
}
#iconMediaQuerieMarge1,
#iconMediaQuerieMarge2,
#iconMediaQuerieMarge4 {
    margin-left: 8px;
    margin-right: 8px;
    display: grid;
    grid-template-rows: auto auto;
    place-items: center;
}

#iconMediaQuerieMarge4 {
    position: relative;
}

app-profile-drop-down {
    position: absolute;
    top: 110%;
    right: 28%;
    z-index: 999;
    font-size: x-small;
    font-weight: lighter;
}

#headerContainer {
    position: sticky;
    top: 0;
    z-index: 999;
    transition: transform 0.3s ease;
}

#headerContainer.open {
    transform: translateY(3px);
}


/* --- RESPONSIVE --- */

/* SMARTPHONES (≤600px) */
@media screen and (max-width: 600px) {
    mat-toolbar {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 8px;
        gap: 8px;
    }

    .search::placeholder {
        color: transparent;
    }

    .search {
        width: 90%;
        margin: 0 auto;
    }

    #iconContainer {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .icon-text {
        font-size: xx-small;
    }

    app-profile-drop-down {
        right: 30%;
        top: 105%;
    }
}

/* TABLETTES ET PETITS ÉCRANS (≤1024px) */
@media screen and (max-width: 1024px) {
    
    #iconMediaQuerieMarge,
    #iconMediaQuerieMarge1,
    #iconMediaQuerieMarge2,
    #iconMediaQuerieMarge3,
    #iconMediaQuerieMarge4 {
        margin-left: 8px;
        margin-right: 8px;
    }
}
