<!-- <div class="mobile-spacer"></div> -->
<div class="scrolling-message">⚠️ Ré-authentifier le produit physique avant chaque transfert ! ⚠️</div>
<br> <br> <br> <br>
<mat-card class="main-form">
  
  <div class="profile-container">
    <img [src]="userProfilePhoto" alt="user profile picture" class="profile-picture">
    <h2> {{ currentUserFirstName }}</h2>
  </div>

  <app-carousel
    [title]="'Mes Produits'"
    [items]="uniqueProducts"
    [baseRoute]="'/teik/products/current-product'"
    context="default"
  ></app-carousel>

</mat-card>
