<!-- <div class="mobile-spacer"></div> -->
<div class="scrolling-message-wrapper">
    <div class="scrolling-message">
      {{ 'HOME.REAUTHENTICATE_WARNING' | translate }}
    </div>
</div>
<br> <br> <br> <br>

<mat-card class="main-form">
  
  <div class="profile-container">
    <img [src]="userProfilePhoto" alt="user profile picture" class="profile-picture">
    <h2> {{ currentUserFirstName }}</h2>
  </div>

  <app-carousel
    [title]="'PROFILE.MY_PASSPORTS' | translate"
    [items]="uniqueProducts"
    [baseRoute]="'/teik/products/current-product'"
    context="default"
  ></app-carousel>

</mat-card>
