<mat-card class="main-form">
  <mat-card-title>Les produits de {{ currentUserFirstName }}</mat-card-title>

  <div *ngIf="currentUserCompanie === 'oui' || currentUserCompanie === 'non'">
    <div class="product-container" *ngFor="let product of (currentUserCompanie === 'oui' ? countOfProducts : uniqueProducts)">
      <a routerLink="/teik/products/current-product/{{ product.id}}">
        <div class="product-card">
          <img [src]="product.imageUrl" alt="photo produit" class="profile-picture">
          <h2>{{ product.name }}</h2>
          <p>Quantité {{ product.count }}</p>
        </div>
      </a>
    </div>
  </div>
</mat-card>
