.product-container a {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f4;
    text-decoration: none;
  }
  .main-form {
    margin: 5%;
    padding-bottom: 30px;
    position: relative;
  }
  
  .product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
  
    &:hover {
      transform: translateY(-5px);
    }
  
    img {
      width: 30%;
      height: auto;
    }
  
    h2 {
      font-size: 1.5em;
      margin: 15px 0;
    }
  
    p {
      font-size: 1em;
      color: #666;
      margin: 0 15px 15px;
    }
  
    button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      margin-bottom: 15px;
      cursor: pointer;
      border-radius: 4px;
      font-size: 1em;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }

.product-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}