<mat-card class="main-form">
  <mat-card-title>Les produits de {{currentUserFirstName}} </mat-card-title>
  <div class="product-container">
    <!-- <a routerLink="/teik/products/current-product/id" > -->
    <a routerLink="/teik/products/current-product/{{productIdForTest}}" >
      <div class="product-card" *ngFor="let product of countOfProducts">
        <img [src]="product.imageUrl" alt="prouct photo profil" class="profile-picture">
        <h2>{{ product.name }}</h2>
        <p>Quantité {{ product.count }}</p>
      </div>

    </a>
  </div>
</mat-card>
