<div class="scrolling-message">⚠️ Ré-authentifier le produit physique avant chaque transfert ! ⚠️</div>
<br><br><br><br>

<mat-card class="main-form">
    <mat-card-title>QRCodes de {{ currentUserLastName }} {{ currentUserFirstName }}</mat-card-title>
    
    <app-carousel 
        [items]="currentUserCompanie === 'oui' ? countOfQrcodes : uniqueQrcodes"
        baseRoute="/teik/qrcodes/current-qrcode"
        itemLabel="name"
        itemSubLabel="count"
        itemImage="imageUrl"
        subLabelPrefix="Quantité"
    ></app-carousel>
</mat-card>