<div class="scrolling-message-wrapper">
    <div class="scrolling-message">
      {{ 'HOME.REAUTHENTICATE_WARNING' | translate }}
    </div>
</div>
<br><br><br><br>

<mat-card class="main-form">
  <mat-card-title>
    {{ 'QRCODE.TITLE' | translate:{ lastName: currentUserLastName, firstName: currentUserFirstName } }}
  </mat-card-title>
    
    <app-carousel 
        [items]="currentUserCompanie === 'oui' ? countOfQrcodes : uniqueQrcodes"
        baseRoute="/teik/qrcodes/current-qrcode"
        itemLabel="name"
        itemSubLabel="count"
        itemImage="imageUrl"
        subLabelPrefix="Quantité"
    ></app-carousel>
</mat-card>