
.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Assure une forme circulaire */
    margin-right: 20px;
}
  
.profile-info {
    flex: 1;
}
  
.profile-name {
    font-size: 24px;
    margin-bottom: 5px;
}
  
.profile-title a {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 5px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    align-items: center;
}

.profile-title a:hover {
    color: #0d47a1; /* Couleur plus foncée au survol */
    text-decoration: underline;
}
  
.profile-title .material-icons {
    margin-right: 4px; /* Espace entre l'icône et le texte */
}
  
.profile-title-link-icon {
    font-size: 18px; /* Taille de l'icône */
}

  
.profile-location {
    font-size: 16px;
    color: #666;
}

.edit-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Style pour la mise en page principale */
.container {
    display: flex;
    flex-direction: row; /* Assure que les éléments main-card et secondary-card sont sur la même ligne */
    gap: 20px; /* Espace entre les cartes */
    padding: 20px; /* Espace intérieur pour le container */
}

/* Style pour les cartes principales */
.main-card {
    flex: 2; /* main-card prend deux fois plus d'espace que secondary-card */
    margin-left: 120px;
}

.secondary-card {
    flex: 1; /* secondary-card prend une part d'espace */
    margin-right: 120px;
}

/* Style pour la carte secondaire */
.secondary-card {
    display: flex;
    flex-direction: column; /* Assure que les éléments à l'intérieur de la secondary-card sont en colonne */
}

/* Style pour la carte de profil */
.profile-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
}

/* Style pour le contenu de profil dans main-card */
.profile-content {
    display: flex;
    align-items: center; /* Aligne l'image et les informations de profil verticalement au centre */
    gap: 20px; /* Espace entre l'image et les informations de profil */
}

/* Style pour les sections de produit */
.product-section {
    display: flex;
    align-items: center; /* Aligne les images et le texte verticalement au centre */
    gap: 10px; /* Espace entre l'image et le texte */
}

/* Style pour la barre de séparation */
.separator {
    height: 2px; /* Hauteur de la barre de séparation */
    background-color: #ccc; /* Couleur de la barre de séparation */
    margin: 20px 0; /* Espacement vertical autour de la barre */
    width: 100%; /* Prend toute la largeur disponible */
}

/* Autres styles */
.profile-picture, .product-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; /* Assure que l'image remplit bien les dimensions sans être déformée */
}

.product-name {
    min-height: 60px; /* Hauteur minimale pour accommoder au moins deux lignes de texte */
    display: flex;
    align-items: center; /* Centre le texte verticalement dans son conteneur */
    margin: 0;
    font-size: 18px;
    max-width: 100px; /* Définit une largeur maximale pour le texte */
    white-space: normal; /* Permet le retour à la ligne automatique */
    overflow-wrap: break-word; /* Permet de casser les mots pour éviter le débordement */
}

.profile-title, .profile-title a, .profile-location {
    margin: 0;
    color: #777;
}

.profile-statistique {
    display: flex;
    flex-direction: row; /* Assure que les éléments main-card et secondary-card sont sur la même ligne */
    gap: 150px; /* Espace entre les cartes */
    padding: 20px; /* Espace intérieur pour le container */
}
