<div class="container">
    <div class="main-card">
        <div >

            <mat-card class="profile-card">
                <div class="profile-content">
                    <img [src]= "currentUserPhoto" alt="Profile Picture" class="profile-picture">
                
                    <div class="profile-info"> 
                        <h2 class="profile-name">{{currentUserFirstName}} {{currentUserLastName}}</h2>
                        <p class="profile-title">
                            <a routerLink="/teik/products/user-squad"> 10 partenaires </a>
                        </p> 
                        <p class="profile-title" *ngIf="currentUserCompanie === 'non'"> 
                            <a routerLink="/teik/products/profile-product"> {{totalUserProducts}} produits </a>
                        </p> 
                        <p class="profile-title" *ngIf="currentUserCompanie === 'oui'"> 
                            <a routerLink="/teik/products/profile-product"> {{totalProduct}} produits </a>
                        </p> 
                        <p class="profile-title">
                            <a routerLink="/teik/products/user-transaction"> 2 transactions </a>
                        </p> 
                        <p class="profile-location">{{currentUserCity}}, {{currentUserCountry}}</p>
                    </div>
                </div>
            
                <button mat-icon-button class="edit-button" aria-label="Modifier">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-card>
        </div>
        <div *ngIf="currentUserCompanie === 'non'">

            <mat-card class="profile-card">
                <div class="profile-content">          
                    <div class="profile-info">
                        <h2 class="profile-name"> produits  & Qrcodes </h2>
                        <p class="profile-title">
                            <a routerLink="/teik/products/profile-product">
                                <mat-icon class="profile-title-link-icon">shopping_cart</mat-icon>
                                {{totalUserUniqueProducts}} Catégories de produits
                            </a>
                        </p>
                        <p class="profile-title">
                            <a routerLink="/teik/qrcodes/profile-qrcode">
                                <mat-icon class="profile-title-link-icon">qr_code</mat-icon>
                                {{totalUserProducts}} qrcodes
                            </a>
                        </p>
                        <br>
                    </div>
                </div>

            </mat-card>
        </div>
        <div *ngIf="currentUserCompanie === 'oui'">

            <mat-card class="profile-card">
                <div class="profile-content">
                
                    <div class="profile-info">
                        <h2 class="profile-name"> produits & Qrcodes</h2>
                        <p class="profile-title">
                            <a routerLink="/teik/products/profile-product">
                                <mat-icon class="profile-title-link-icon">shopping_cart</mat-icon>
                                {{numberOfProducts}} Catégories de produits
                            </a>
                        </p>
                        <p class="profile-title">
                            <a routerLink="/teik/qrcodes/profile-qrcode">
                                <mat-icon class="profile-title-link-icon">qr_code</mat-icon>
                                {{totalProduct}} qrcodes
                            </a>
                        </p>
                        <br>
                        <button mat-flat-button color="primary" routerLink="/teik/products/create"> Nouveau Produit </button>
                        
                    </div>
                </div>
            
            </mat-card>
        </div>
        <div >

            <mat-card class="profile-card">
                
                <div class="profile-info">
                    <h2 class="profile-name">Statistiques</h2>
                    <div class="profile-statistique">
                        <div class="stat-one">
                            <p class="profile-title">20 scans</p> <br>
                            <p class="profile-title">10 posts</p>
                        </div>
                        <div class="stat-two">
                            <p class="profile-title">5 acquisitions</p> <br>
                            <p class="profile-title">15 cessions</p>
                        </div>
                        <div class="stat-three">
                            <p class="profile-location">16% sécurisation</p> <br>
                            <p class="profile-location">2 bons d'achats</p>
                        </div>

                    </div>
                </div>

            </mat-card>
        </div>
        <div >

            <mat-card class="profile-card">
                
                <div class="profile-info">
                    <h2 class="profile-name">Activités</h2> <br>

                    <h6>Cornel West a publié ceci . 2 sem</h6>
                    <p class="profile-title">Eau minérale Supermont de contrefaçon </p>
                    <p class="profile-location">Douala viva shop akwa</p>
                    
                    <div class="separator"></div>

                    <h6>Cornel West a publié ceci . 2 mois</h6>
                    <p class="profile-title">Gaz de contrebande non plein</p>
                    <p class="profile-location">Douala magasin trouvetout qaurtier new bell</p>

                    
                    <div class="separator"></div>

                    <h6>Cornel West a publié ceci . 5 mois</h6>
                    <p class="profile-title">ruinar de contrefaçon</p>
                    <p class="profile-location"> Douala sckack B&W quartier Bonamoussadi</p>
                </div>
                
            
                <button mat-icon-button class="edit-button" aria-label="Modifier">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-card>
        </div>

    </div>

    <div class="secondary-card">
        <mat-card class="profile-card">
            <h3> <strong>Telecharger la photo de profile</strong></h3>
            <app-image-upload
                [apiUrl]= "'http://127.0.0.1:8002/teko/gateway-user-image'"
                [resourceId]= "currentUserId"
                [fileType]= "'profilePhoto'"
            ></app-image-upload>    
        </mat-card>
        <mat-card class="profile-card">

            <mat-card-header>
                <mat-card-title>nouveauté sur les produits</mat-card-title>
            </mat-card-header>


            <mat-card-content>
                <div class="product-section">
                    <img src="../../../../assets/images/j_daniel.png" alt="Jack Daniel" class="product-picture">
                    <h2 class="product-name">Jack Daniel SAS </h2>
                </div>
            </mat-card-content>

            
            <div class="separator"></div>

            
            <mat-card-content>
                <div class="product-section">
                    <img src="../../../../assets/images/chiv.png" alt="Chivas" class="product-picture">
                    <h2 class="product-name">Chivas SAS</h2>
                </div>
            </mat-card-content>
            <div class="separator"></div>

           
            <mat-card-content>
                <div class="product-section">
                    <img src="../../../../assets/images/heineken.png" alt="Heineken" class="product-picture">
                    <h2 class="product-name">Heineken SAS</h2>
                </div>
            </mat-card-content>
            <div class="separator"></div>

           
            <mat-card-content>
                <div class="product-section">
                    <img src="../../../../assets/images/r_basmati.png" alt="riz Basmati" class="product-picture">
                    <h2 class="product-name">Basmati SAS</h2>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
