<div class="container">
    <div class="main-card">
        <div >
            <!-- Contenu de la carte principale -->
            <mat-card class="profile-card">
                <div class="profile-content">
                    <img src="../../../../assets/images/c_west.png" alt="Profile Picture" class="profile-picture">
                
                    <div class="profile-info">
                        <h2 class="profile-name">Cornel West</h2>
                        <p class="profile-title">200 partenaires</p>
                        <p class="profile-location">New York, USA</p>
                        <!-- Autres informations de profil -->
                    </div>
                </div>
            
                <button mat-icon-button class="edit-button" aria-label="Modifier">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-card>
        </div>
        <div >
            <!-- Contenu de la carte principale -->
            <mat-card class="profile-card">
                
                <div class="profile-info">
                    <h2 class="profile-name">Statistiques</h2>
                    <div class="profile-statistique">
                        <div class="stat-one">
                            <p class="profile-title">20 scans</p> <br>
                            <p class="profile-title">10 posts</p>
                        </div>
                        <div class="stat-two">
                            <p class="profile-title">5 acquisitions</p> <br>
                            <p class="profile-title">15 cessions</p>
                        </div>
                        <div class="stat-three">
                            <p class="profile-location">16% sécurisation</p> <br>
                            <p class="profile-location">2 bons d'achats</p>
                        </div>

                    </div>
                </div>
            
                <!-- <button mat-icon-button class="edit-button" aria-label="Modifier">
                    <mat-icon>edit</mat-icon>
                </button> -->
            </mat-card>
        </div>
        <div >
            <!-- Contenu de la carte principale -->
            <mat-card class="profile-card">
                
                <div class="profile-info">
                    <h2 class="profile-name">Activités</h2> <br>

                    <h6>Cornel West a publié ceci . 2 sem</h6>
                    <p class="profile-title">Eau minérale Supermont de contrefaçon </p>
                    <p class="profile-location">Douala viva shop akwa</p>
                    <!-- Barre de séparation -->
                    <div class="separator"></div>

                    <h6>Cornel West a publié ceci . 2 mois</h6>
                    <p class="profile-title">Gaz de contrebande non plein</p>
                    <p class="profile-location">Douala magasin trouvetout qaurtier new bell</p>

                    <!-- Barre de séparation -->
                    <div class="separator"></div>

                    <h6>Cornel West a publié ceci . 5 mois</h6>
                    <p class="profile-title">ruinar de contrefaçon</p>
                    <p class="profile-location"> Douala sckack B&W quartier Bonamoussadi</p>
                </div>
                
            
                <button mat-icon-button class="edit-button" aria-label="Modifier">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-card>
        </div>

    </div>

    <div class="secondary-card">
        <mat-card class="profile-card">
            <!-- Titre de l'entête de la carte -->
            <mat-card-header>
                <mat-card-title>nouveauté sur les produits</mat-card-title>
            </mat-card-header>
      
            <!-- Contenu pour Jack Daniel -->
            <mat-card-content>
                <div class="product-section">
                    <img src="../../../../assets/images/j_daniel.png" alt="Jack Daniel" class="product-picture">
                    <h2 class="product-name">Jack Daniel SAS </h2>
                </div>
            </mat-card-content>
      
            <!-- Barre de séparation -->
            <div class="separator"></div>
      
            <!-- Contenu pour Chivas -->
            <mat-card-content>
                <div class="product-section">
                    <img src="../../../../assets/images/chiv.png" alt="Chivas" class="product-picture">
                    <h2 class="product-name">Chivas SAS</h2>
                </div>
            </mat-card-content>
            <div class="separator"></div>
      
            <!-- Contenu pour Chivas -->
            <mat-card-content>
                <div class="product-section">
                    <img src="../../../../assets/images/heineken.png" alt="Heineken" class="product-picture">
                    <h2 class="product-name">Heineken SAS</h2>
                </div>
            </mat-card-content>
            <div class="separator"></div>
      
            <!-- Contenu pour Chivas -->
            <mat-card-content>
                <div class="product-section">
                    <img src="../../../../assets/images/r_basmati.png" alt="riz Basmati" class="product-picture">
                    <h2 class="product-name">Basmati SAS</h2>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
