<mat-card class="main-form" [formGroup]="postForm">
  <mat-card-title> Signaler un produit </mat-card-title>

  <mat-card class="form-card" formGroupName="primaryPostInfo">
    <mat-card-subtitle>Informations principales </mat-card-subtitle>
    <br>

    <div class="form-row">
      <mat-form-field *ngIf="showUserField" appearance="fill">
        <mat-label> Auteur </mat-label>
        <input type="text" matInput formControlName="author">
        <mat-error>Ce champs est requis OU Contien moin de 2 caractères</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label> Qrcode</mat-label>
        <input type="text" matInput formControlName="fakeUrl" >
        <mat-error>Ce champs est requis OU Contien moin de 2 caractères</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label> Description</mat-label>
        <textarea matInput formControlName="description" rows="4"></textarea>
        <mat-error>Ce champs est requis OU Contien moin de 2 caractères</mat-error>
      </mat-form-field>
    </div>
  </mat-card>

  <mat-card class="form-card" formGroupName="secondaryPostInfo">
    <mat-card-subtitle>Informations secondaires</mat-card-subtitle>
    <div class="form-row">
      <mat-form-field appearance="fill">
          <mat-label>Point de vente</mat-label>
          <input type="text" matInput formControlName="storeName">
          <mat-error>Ce champs est requis</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nom de la Marque</mat-label>
        <mat-select formControlName="productName">
          <mat-option *ngFor="let company of companies" [value]="company.firstName">
            {{ company.firstName }} {{ company.lastName }}
          </mat-option>
        </mat-select>
        <mat-error>
          Ce champ est requis OU contient moins de 2 caractères
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>Ville</mat-label>
          <input type="text" matInput formControlName="city">
          <mat-error>Ce champs est requis</mat-error>
      </mat-form-field>

      <mat-card-actions>
        <button *ngIf="postForm.valid" mat-flat-button color="primary" (click)="onSubmitForm()" [disabled]="loading">Enregistrer</button> &nbsp; &nbsp;
        <mat-progress-spinner *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-spinner>
      </mat-card-actions>
    </div>
  </mat-card>
</mat-card>

<div *ngIf="currentPostId" class="secondary-card">
  <mat-card class="profile-card">
    <h3> <strong>Telecharger l'image du produit</strong></h3>
    <app-image-upload
      [apiUrl]= "'http://127.0.0.1:8002/teko/gateway-posts'"
      [resourceId]= "currentPostId"
      [fileType]= "'fakeProductPhoto'"
      (imageUploaded)="onImageUploaded()"
    ></app-image-upload>    
  </mat-card>

</div>