<div class="container">
    <!-- Main section : Scanner + Products -->
    <div class="main-card">
        <!-- Scanner QR Code -->
        <mat-card class="scanner-card">
            <div class="profile-content">
                <video #videoElement class="video-preview"></video>
            </div>
        </mat-card>

        <mat-card class="profile-card">
                
            <div class="profile-info">
                <h2 class="profile-name">Activités</h2> <br>

                <h6>Cornel West a publié ceci . 2 sem</h6>
                <p class="profile-title">Eau minérale Supermont de contrefaçon </p>
                <p class="profile-location">Douala viva shop akwa</p>
               
                <div class="separator"></div>

                <h6>Cornel West a publié ceci . 2 mois</h6>
                <p class="profile-title">Gaz de contrebande non plein</p>
                <p class="profile-location">Douala magasin trouvetout qaurtier new bell</p>

               
                <div class="separator"></div>

                <h6>Cornel West a publié ceci . 5 mois</h6>
                <p class="profile-title">ruinar de contrefaçon</p>
                <p class="profile-location"> Douala sckack B&W quartier Bonamoussadi</p>
            </div>
            
        
            <button mat-icon-button class="edit-button" aria-label="Modifier">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-card>
    </div>

    <!-- Secondary card : Products information -->
    <div class="secondary-card">
        <mat-card class="profile-card">
            <mat-card-header>
                <mat-card-title>Safe places</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="product-section">
                    <img src="../../../../assets/images/andy-mabillai.png" alt="Jack Daniel" class="product-picture">
                    <h2 class="product-name">Le Mabillais bar de nuit</h2>
                </div>
            </mat-card-content>

            <div class="separator"></div>

            <mat-card-content>
                <div class="product-section">
                    <img src="../../../../assets/images/vendome-nc.png" alt="Chivas" class="product-picture">
                    <h2 class="product-name">Le vendome nigth club</h2>
                </div>
            </mat-card-content>

            <div class="separator"></div>

            <mat-card-content>
                <div class="product-section">
                    <img src="../../../../assets/images/saveur.png" alt="Heineken" class="product-picture">
                    <h2 class="product-name">Restaurant la saveur</h2>
                </div>
            </mat-card-content>

            <div class="separator"></div>

            <mat-card-content>
                <div class="product-section">
                    <img src="../../../../assets/images/droguerie.png" alt="riz Basmati" class="product-picture">
                    <h2 class="product-name">Waty droguerie</h2>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
