.container {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap: 20px;
    padding: 20px;
}


.main-card {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    flex: 2;
    gap: 20px;
}


.secondary-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Card */
.scanner-card {
    width: 100%;
    max-width: 90%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

.profile-card {
    width: 100%;
    max-width: 90%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

/* Scanner */
.video-preview {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: auto;
}

/* Products section & QR codes */
.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.product-section {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}


button {
    margin-top: 10px;
}


.product-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}


.separator {
    height: 2px;
    background-color: #ccc;
    margin: 15px 0;
    width: 100%;
}

.scanner-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.video-preview {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.scanner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; // To allow interaction (click) with the video
    display: flex;
    justify-content: center;
    align-items: center;
}

.scanner-frame {
    width: 100px;
    height: 100px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); 
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    }
}

