<div class="modal-overlay" *ngIf="showScanAlert">
  <button mat-flat-button color="primary" class="close-button" (click)="hideModal()">
    {{ 'SCAN_ALERT.CLOSE' | translate }}
  </button>

  <mat-card id="scan-alert" [ngClass]="type">
    <mat-card-header class="alert-header">
      <mat-icon class="alert-icon">
        {{ type === 'error' ? 'error_outline' : type === 'success' ? 'check_circle' : 'info' }}
      </mat-icon>
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p *ngIf="introText" class="intro-text">{{ introText }}</p>

      <ul *ngIf="reasons?.length" class="alert-reasons">
        <li *ngFor="let reason of reasons">{{ reason }}</li>
      </ul>

      <p *ngIf="ctaText" class="call-to-action">{{ ctaText }}</p>

      <div *ngIf="actionButtonLabel && actionLink" class="button-container">
        <button mat-raised-button color="warn" [routerLink]="actionLink">
          {{ actionButtonLabel }}
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
