<div class="container">
  <div class="main-card">
    <div *ngFor="let notif of notifications">
      <mat-card 
        *ngIf="notif.data.productOwnerId === currentuserId"
        class="profile-card" 
        (click)="handleNotificationClick(notif)"
        style="cursor: pointer;"
      >
        <span 
          class="status-dot" 
          [ngClass]="notif.isRead === 'non' ? 'unread' : 'read'"
        ></span>

        <div class="profile-content" *ngIf="userInfos.has(notif.userId)">
          <img 
            *ngIf="userInfos.get(notif.userId)?.photo" 
            [src]="userInfos.get(notif.userId)?.photo" 
            alt="Profile Picture" 
            class="profile-picture"
          >
          <div class="profile-info">
            <h3 class="profile-name">
              {{ userInfos.get(notif.userId)?.firstName || ('NOTIFICATIONS.UNKNOWN_USER' | translate) }} 
              {{ userInfos.get(notif.userId)?.lastName || '' }}
            </h3>

            <div *ngIf="filteredProducts.get(notif._id)">
              <!-- Notification d'acquisition -->
              <p *ngIf="notif.type === 'acquisition'" 
                 [innerHTML]="'NOTIFICATIONS.ACQUISITION' | translate:{ type: notif.type, product: filteredProducts.get(notif._id).name }">
              </p>

              <!-- Notification de scan / signalement -->
              <p *ngIf="notif.type === 'signal'" 
                 [innerHTML]="'NOTIFICATIONS.SIGNAL' | translate:{ product: filteredProducts.get(notif._id).name, date: (filteredProducts.get(notif._id).createdAt | date:'dd/MM/yyyy') }">
              </p>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>