<div class="container">
  <div class="main-card">

    <div *ngFor="let notif of notifications">
        <mat-card 
          *ngIf="notif.data.productOwnerId === currentuserId"
          class="profile-card" (click)="handleNotificationClick(notif)"
          style="cursor: pointer;"
        >
          <span 
            class="status-dot" 
            [ngClass]="notif.isRead === 'non' ? 'unread' : 'read'"
          ></span>
          <div class="profile-content" *ngIf="userInfos.has(notif.userId)">
            <img *ngIf="userInfos.get(notif.userId)?.photo" [src]="userInfos.get(notif.userId)?.photo" alt="Profile Picture" class="profile-picture">
            <div class="profile-info">
              <h3 class="profile-name">
                {{ userInfos.get(notif.userId)?.firstName || 'Unknown User' }} 
                {{ userInfos.get(notif.userId)?.lastName || '' }}
              </h3>
              <div *ngIf="filteredProducts.get(notif._id)">
                <p *ngIf="notif.type === 'acquisition'">
                    Souhaite faire une {{notif.type}} du produit <strong>{{filteredProducts.get(notif._id).name}} </strong>
                </p>
                <p *ngIf="notif.type === 'signal'">
                    A scanné votre produit <strong>{{filteredProducts.get(notif._id).name}} </strong> le <strong>{{filteredProducts.get(notif._id).createdAt | date: 'dd/MM/yyyy'}} </strong>
                </p>

              </div>
            </div>
          </div>
        </mat-card>
    </div>
  </div>

  <div class="secondary-card">

  </div>

</div>
  