.container {
    display: flex;
    flex-direction: row; 
    gap: 20px; 
    padding: 20px; 
}


.main-card {
    flex: 2; 
    margin-left: 120px;
}

.secondary-card {
    flex: 1;
    margin-right: 120px;
}


.secondary-card {
    display: flex;
    flex-direction: column; 
}


.profile-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
}

.profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    margin-right: 20px;
}

.profile-content {
    display: flex;
    align-items: center; 
    gap: 20px; 
}

.profile-info {
    flex: 1;
}